.Subscribe {
  @include displayCenter(start, center);
  flex-direction: column;
  padding: 40px;
  position: relative;
  background-image: linear-gradient(to right, #333962, #20243e);
  h2 {
    color: $white_color;
    font-size: 20px;
    line-height: 28px;
    // margin-bottom: 20px;
  }
  p {
    color: $white_color;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  input {
    width: 35%;
    outline: none;
    height: 38px;
    text-align: center;
  }
  .icon {
    position: absolute;
    bottom: 17px;
    color: $navy_color;
    left: 50px;
    font-size: 20px;
    border-radius: 10px;
  }
  button {
    position: absolute;
    left: 38%;
    bottom: 40px;
    padding: 8px 30px;
    border: none;
    color: $white_color;
    background-color: $green_color;
    border-radius: 10px;
  }
}

@media (max-width: $sm) {
  .Subscribe {
    p{
        // margin-bottom: 50px;
    }
   
    input {
        width: 100%;
        margin-bottom: 20px;
    }
    .icon{
        bottom: 40px;
    }
    button {
      left: 8%;
      bottom: -10px;
     padding: 5px 145px;
     margin-bottom: 20px;
    }
  }
}
